/* Snake game */
/* Author: 2019-2020,
    License: MIT */

/* The container */

body {
    background-color: #babebe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    

    
}

body > main,aside {
    background-color: #b3e6dd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    
    margin: 1em;
    flex: 1 0 30%;

}

/* The canvas */

canvas {
    background-color: #ffffff;
    border: 1px solid #000000;
    display: block;
    margin: 0 auto;
    padding: 0;
}

/* The score */

#score {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

/* The game over message */

#gameover {
    display: none;
    font-size: 48px;
    margin: 0;
    padding: 0;
}


input{
    margin: 0.5em;
    padding: 0.5em;
    
    border: 1px solid #000000;
    border-radius: 0.5em;
    background-color: #ffffff;
    color: #000000;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
}
.text_input{
    font-size: 1em;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    color: #000000;
    /* Center text */    

    display: flex;  
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;

}
form.snake_settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.settings {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.controll_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
/* Path: snake.js */
/* Snake game */

.button_inside_bar {
    background-color: #ddd;
    border: none;
    color: #000;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
.button_inside_bar.active {
background-color: #555;
color: #fff;
}